$text-direction: rtl;

@import "application";

.mrm {
	margin-right: 0 !important;
	margin-left: 0.625rem !important;
}

.mrl {
    margin-right: 0 !important;
    margin-left: 0.9375rem !important;
}

aside .fa {
	margin-right: 0px;
	margin-left: 5px;
}

.tickets .ticket {
    border-left-width: 0px;
    border-left-style: none;
    border-right-width: 3px;
    border-right-style: solid;
}

.pll {
	padding-left: 0 !important;
	padding-right: 0.9375rem !important;
}

html[dir="rtl"] .select2-container-multi .select2-search-choice-close {
	left: 2px !important;
	right: auto !important;
}

html[dir="rtl"] .select2-container-multi .select2-choices .select2-search-choice {
    margin: 3px 0 3px 5px;
    padding: 3px 5px 3px 18px;
}

input[type="checkbox"] {
    margin-left: 5px;
}

aside ul.off-canvas-list li a.hover-icon-a .hover-icon-i {
	left: 0 !important;
	right: auto !important;
}

html[dir="rtl"] .select2-container-multi .select2-choices {
    padding: 0 5px 0 0;
}